:root {
    /*Use this for the blue color we need for the social network stuff. Use variables*/
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    width: 850px;
    height: 350px;
    font-family: sans-serif;
    margin: 0 auto;
}
body {
    background-color: lightgrey;
}
.big-blue-header {
    position: relative;
    z-index: 0;
    background-color: rgb(80, 96, 168);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#nav-list {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    top: -340px;
}
#nav-connect {
    position: relative;
    z-index: 1;
    width: 60%;
    height: 60px;
    top: -450px;
    left: 580px;
}
.profile-photo {
    position: relative;
    z-index: 2;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 1.75%;
    background-color: rgb(80, 96, 168);
    top: -280px;
    left: 15px;
}
 .profile-titles h1 {
    position: relative;
    z-index: 1;
    font-size: 28px;
    color: whitesmoke;
    font-weight: 500;
    top: -100px;
    left: 230px;
}
.profile-titles h2 {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: lighter;
    color: whitesmoke;
    top: -120px;
    left: 230px;
}
a {
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: darkslategray;
    left: 175px
}
li {
 
    list-style-type: none;
    float: left;
    padding: 20px 20px;
}
/*
-big blue box
-white nav bar
-profile photo, moved to the left and 
positioned over the white bar and blue box
*/
main {
    position: relative;
    height: 2000px;
    width: 850px;
    margin: 0 auto;
    margin-top: 10px;
    bottom: 300px;
}
.column-left {
    width: 328px;
    height: 2000px;
    float: left;
    border: 1px dotted green;
}

.column-right {
    width: 512px;
    height: 2000px;
    border: 5px dotted green;
    float: right;
}
.card {
    position: relative;
    width: 328px;
    background-color: white;
    border-radius: 1.75%;
    padding-top: 8px;
}